<div class="row text-dark border-top border-bottom p-1"><a class="nav-link" href="/Home/Index" onclick="setIdInTemp()">Home</a></div>
<div class="row text-dark border-top border-bottom p-1"><a class="nav-link" href="/Song/Create" onclick="setIdInTemp()">Add Song</a></div>
<div class="row text-dark border-top border-bottom p-1"><a class="nav-link" href="/Playlist/Index" onclick="setIdInTemp()">Playlists</a></div>
