<a href="/User/Login" onclick="clearTemp()" id="logout" class="nav-link text-info btn bg-dark rounded icon-link-hover icon-link m-2 p-1">
	@(Model != null && Model.Username != null ? Model.Username : "Anonymous")(logout)
</a>
